<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% kissat.each do |k| %>
      <tr>
        <td><%= k.name %></td>
        <td><%= k.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>