<h1>Rating statistics</h1>

<h2>Best beers</h2>
<ul>
  <% @top_beers.each do |beer| %>
      <li> <%= beer.name %> </li>
  <% end %>
</ul>

<h2>Resent ratings</h2>

<ul>
  <% @recent_ratings.each do |rating| %>
      <li> <%= rating %>  <%= link_to rating.user.username, rating.user %></li>
  <% end %>
</ul>


<p>
  <%= link_to 'New rating', new_rating_path %>
</p>